<!-- photo name email phone number-->
<div class="container">
  <img class="background" src="/assets/imageComputer.jpg">
  <div class="logo"><img src="/assets/amiraTaktak.jpg">
      <div>
          <h1 class="name">AMIRA TAKTAK</h1>
          <h1>Développeuse Front-end</h1>
          <h2> <i class="fa fa-envelope-o"></i> amirataktak6@gmail.com</h2>
          <h2><i class="fa fa-phone"></i>  +216 96270093</h2>
      </div>
  </div>
</div>
<!-- more information -->
<div class="containerBody">
   <!-- Competence  -->
<h3> <i class="fa fa-cogs"></i> COMPÉTENCES TECHNIQUES</h3>
<div class="card">

      <h4>Angular, Ionic</h4>
      <div class="progress" style="width:80% ;margin-right: 30px;
      margin-top: 20px;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          80% 
        </div>
      </div>
      <h4> ReactNative, NodeJs</h4>
      <div class="progress" style="width:80%;margin-right: 30px;
      margin-top: 20px;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          60% 
        </div>
      </div>
      <h4>VueJS</h4>
      <div class="progress" style="width:80%;margin-right: 30px;
      margin-top: 20px;">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">
          40% 
        </div>
      </div>
     </div>

  <!-- Experience professionnel -->
<h3><i class="fa fa-suitcase"></i> EXPÉRIENCE PROFESSIONNELLE</h3>
<div class="card">
  <div class="cardLeft">
      <p >  Mai 2022 - Aujourd'hui</p>
      <p >DsoServices</p>
      <p>Immobilier</p>
  </div>
  <div class="cardRight">
      <div>
          <p >Conception et Développement d'un site web d'immobilier.
          </p>
          <p >Environnement technique : Git, JIRA,  Angular13, NodeJs,
              TypeScript, Bootstrap, HTML5, CSS3, SCSS,   Vscode, webStorm, Adobe xd</p>
      </div>
  </div>
</div>
<div class="card">
  <div class="cardLeft">
      <p >Sept 2021-  Mai 2022</p>
      <p >DsoServices</p>
      <p>E-Commerce</p>
  </div>
  <div class="cardRight">
      <div>
          <p >Conception et Développement d'un site web de MarketPlace.
          </p>
          <p >Environnement technique : Git, JIRA,  Angular13, NodeJs,
              TypeScript, Bootstrap, HTML5, CSS3, SCSS,   Vscode, webStorm, Adobe xd</p>
      </div>
  </div>
</div>
<div class="card">
  <div class="cardLeft">
      <p > Sept 2021 - Fev 2022</p>
      <p >DsoServices</p>
      <p>TALKFACE</p>
  </div>
  <div class="cardRight">
      <div>
          <p >Conception et Développement d’une application Mobile hybride (Android/Ios) qui fait la mise en relation des enfants dans le monde entire en 3d.
          </p>
          <p >Environnement technique : Git, JIRA, ReactNative, NodeJs,
              JavaScript,
              Bootstrap, HTML5, CSS3, SCSS, MongoDB, Firebase, Android
              studio, xcode, Appple, stripe, Vscode, webStorm, Adobe xd</p>
      </div>
  </div>
</div>

<div class="card">
  <div class="cardLeft">
      <p >Janvier 2021 - Sept 2021</p>
      <p >DsoServices</p>
      <p>PLEAM</p>
  </div>
  <div class="cardRight">
      <div>
          <p >Conception , Développement et Test d’une application Mobile hybride (Android/Ios) qui fait la mise en relation des personnes dans le monde entier.
          </p>
          <p >Environnement technique : Git, JIRA, Ionic5, Cordova, Angular12, NodeJs,
              TypeScript, Bootstrap, HTML5, CSS3, SCSS,  Android
              studio, xcode, Appple, stripe, Vscode, webStorm, Adobe xd</p>
      </div>
  </div>
</div>
<div class="card">
  <div class="cardLeft">
      <p >Aout 2020-Janvier 2021</p>
      <p >DsoServices</p>
      <p>MESCOMMERÇANTS</p>
  </div>
  <div class="cardRight">
      <div>
          <p >Conception et Développement d’une application mobile hybride (Android/Ios) de
              commerce électronique destinée aux clients qui vont passer une commande et aux vendeurs qui vont gérer
              les produits et les commandes commençant par la création d’un produit jusqu’à le paiement et la
              récupération de la commande.
              Développer une application web administratif pour gérer les utilisateurs, valider les nouveaux comptes,
              gérer les diffèrent paramètre dans l’application et consulter les statistiques sur un tableau de bord.
          </p>
          <p >Environnement technique : Git, JIRA, Ionic5, Cordova, Angular9, NodeJs,
              TypeScript, Bootstrap, HTML5, CSS3, SCSS, MongoDB, Firebase, Android
              studio, xcode, Appple, stripe, Vscode, webStorm, Adobe xd</p>
      </div>
  </div>
</div>
<!-- FORMATION -->
<h3><i class="fa fa-bars"></i> FORMATION</h3>
<div class="card">
  <div class="cardLeftFormation">
      <p >2017 - 2020</p>

  </div>
  <div class="cardRight">
      <div>
          <p> Diplôme National d’ingénieur en Génie Informatique Génie Logiciel Et Informatique Décisionnelle
          </p>
          <p >Institut International de Technologie de Sfax– Université Nord-Américaine</p>
      </div>
  </div>
</div>
<div class="card">
  <div class="cardLeftFormation">
      <p >2014 - 2017</p>

  </div>
  <div class="cardRight">
      <div>
          <p> Licence fondamentale informatique appliquée à la gestion
          </p>
          <p >Faculté de science économique de gestion de Sfax – Université de Sfax</p>
      </div>
  </div>
</div>
  <!-- Certificats -->
<h3><i class="fa fa-certificate"></i> CERTIFICATS</h3>
<div class="card">
  <div class="cardLeftFormation">
      <p >4 Fevrier 2019</p>

  </div>
  <div class="cardRight">
      <div>
          <p> <img src="/assets/logoMicrosoft.JPG" style="width: 12%;
              margin-right: 10px;"/>MTA Software Development Fundamentals C#
          </p>
     
      </div>
  </div>

  <div class="cardLeftFormation">
      <p >11 October 2018</p>

  </div>
  <div class="cardRight" style="    margin-top: 10px;">
      <div>
          <p> <img src="/assets/logocisco.JPG" style="width: 12%;
              margin-right: 10px;"/> CCNA Routing and Switching
          </p>
     
      </div>
  </div>
  <div class="cardLeftFormation">
      <p >Mai  2019</p>

  </div>
  <div class="cardRight">
      <div>
          <p> <img src="/assets/logoNvidia.JPG" style="width: 12%;
              margin-right: 10px;"/>Fondamentals of Deep Learning for ComputerVision
          </p>
     
      </div>
  </div>
</div>
</div>